@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 17rem; 
    border: 1px solid rgba(191, 191, 191, 0.2);
    border-radius: 4px;
    margin-top: 1rem;

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 8px 8px 3px -2px rgba(191,191,191,0.2);
    }

    &__item {
        width: 100%;
        height: 10rem; 
        object-fit: scale-down;
    }

    &__title {
        margin-top: 0;
        width: 15rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__text {
        text-align: center;
    }

    &__button {
        border: 1px solid rgba(191, 191, 191, 0.2);
        border-radius: 4px;

        &:hover {
            background-color: $primary-hover;
        }
    }

}