@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $mobile-padding 0 $mobile-padding;
    margin-bottom: $mobile-padding;
    min-width: $min-width;
    max-width: $max-width;

    @include tablet {
        flex-direction: row;
        padding: 0 $tablet-padding 0 $tablet-padding;
    }

    @include desktop {
        padding: 0 $desktop-padding 0 $desktop-padding;
        margin-bottom: 2rem;
    }


    &__status {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @include tablet {
            order: 2;
        }
    }

    &__account {
        width: 60%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    &__about {
        font-size: $mobile-font;
        text-decoration: none;
        color: $primary-logo;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        padding: 0.1rem 0.25rem;

        &:hover {
            background-color: $primary-hover;
        }

        @include tablet {
            font-size: $tablet-font;
        }

        @include desktop {
            font-size: $desktop-font;
        }
    }

    &__user {
        font-size: $mobile-font;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include tablet {
            font-size: $tablet-font;
        }

        @include desktop {
            font-size: $desktop-font;
        }
    }

    &__signout {
        font-size: $mobile-font;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        
        &:hover {
            background-color: $primary-hover;
        }

        @include tablet {
            font-size: $tablet-font;
        }

        @include desktop {
            font-size: $desktop-font;
        }
    }

    &__cart {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    &__cart-count {
        color: $primary-cart;
        margin-bottom: -0.38rem;
        padding-left: 0.35rem;
        font-size: $mobile-font;
        font-weight: 500;

        @include tablet {
            font-size: $tablet-font;
        }

        @include desktop {
            font-size: $desktop-font;
            margin-bottom: -0.5rem;
            padding-left: 0.45rem;
        }
    }

    &__cart-img {
        width: 1rem;

        @include tablet {
            width: 1.25rem;
        }

        @include desktop {
            width: 1.5rem;
        }
    }

    &__brand {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            justify-content: left;
            gap: 1rem;
        }
    }

    &__logo {
        color: $primary-cart;
        text-decoration: none;
        font-size: 0.85rem;
        padding-left: 0.25rem;

        @include tablet {
            font-size: 1.25rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__search {
        width: 60%;

        @include tablet {
            width: 55%;
        }
    }

    &__input {
        height: 1.25rem;
        border-radius: 4px;
        border-color: $primary-logo;
        border-width: 0.05rem;
        padding: 0 0.25rem;
        font-weight: 300;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 300;
            font-size: 0.75rem;
        }

        @include tablet {
            height: 1.5rem;
        }

        @include desktop {
            height: 1.75rem;
        }
    }
}